/* Scale and shadow effect for clickable items */
.hover-card {
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa; /* Light background for hover */
    border-radius: 8px;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-container img {
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profile-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  